*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato, Helvetica, sans-serif;
}

/*Start of nav section*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3E4F;
    color: white;
    text-transform: uppercase;
    padding: 3.5vh 11vw;
    font-weight: bold;
}

nav h1{
    font-size: 1.8rem;
}

.menu{
    list-style-type: none;
}

.option{
    font-size: 16px;
    float: left;
    padding: 0 1vw;
}
/*End of nav section*/

/*Start of hero section*/
.hero_section{
    padding: 10vh 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17BC9B;
    color: white;
}

.hero_section img{
    width: 26vw;
    height: 26vh;
}

.divider{
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vh 0;
}

.border{
    width: 30vw;
    border: none;
    border-top: 4px solid white;
    border-radius: 10px;
}

.divider img{
    width: 38px;
    height: 38px;
    padding: 0 1vw;
}

.title{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 4vh;
}

.hero_section p{
    padding-top: 1vh;
    font-size: 1.5rem;
}
/*End of hero section*/

/*Start of Portfolio section*/
.portfolios_section{
    padding: 0 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gray_border{
    border-top: 4px solid #2D3E4F;
}

.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 8vh;
    flex: 1 1 35vw;
}

.images img{
    width: 24vw;
    height: 30vh;
    padding: 1.5vh 1vw;
    border-radius: 8%;
}

.sub_title{
    padding-top: 8vh;
    color: #2D3E4F;
    font-size: 3rem;
    text-transform: uppercase;
}

.images img:hover{
    filter: brightness(50%);
}
/*End of Portfolio section*/

/*Start of About section*/
.about_section{
    padding: 0 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17BC9B;
}

.info{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: white;
}

.info p{
    width: 27vw;
    line-height: 3vh;
}

.download_button{
    padding: 1.5vh 2vw;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin-top: 4vh;
    margin-bottom: 8vh;
    border-radius: 5px;
}

.download_button:hover{
    color: black;
    background-color: white;
}

.white{
    color: white;
}

