*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3E4F;
    color: white;
    text-transform: uppercase;
    padding: 4vh 12vw;
    font-weight: bold;
}

.title{
    font-size: 28px;
}

.menu{
    list-style-type: none;
}

.option{
    font-size: 16px;
    float: left;
    padding: 0 1vw;
}